/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.text-center {
    padding: 0px 20px;
}

.grid .text-center {
    padding: 20px;
}

.background {
    background: linear-gradient(135deg, #172a74, #21a9af);
    color: white;
}

.content {
    margin: 15px 20px;
}
.d-block {
    margin: 0px;
}

.box{
    margin-bottom: 30px;
}

.grey_box {
    background-color: rgba(207, 207, 207, 0.719);
    padding: 10px;
    font-size: 17px;
}

.tu_compra {
    margin: 0 auto;
    text-align: left;
}

.text-muted {
    font-size: 12px;
}

.specifics {
    font-size: 12px;
}

.form-check-label {
    align-items: center;
}

.form-check-input {
    width: 18;
    height: 18;
}

.accordion-body {
    padding: 0.5rem 0.5rem;
}

.form-control {
    padding: .45rem .55rem;
    font-size: 0.75rem;
}

.boxmargins {
    margin-top: 10px;
    margin-bottom: 30px;
}

.bg-light {
    background: white;
}

.desktop_cart {
    display: none;
}

@media only screen and (min-width: 900px){
    .full_background {
        background: linear-gradient(135deg, #172a74, #21a9af);
    }
    .background {
        background: none;
    }
    .contenedor {
        margin: 15px 20px;
        border-radius: 5px;
    }
    .text-center {
        padding: 0px 10px;
        margin-top: 25%;
    }
    .text-center img {
        padding: 0px 20px;
        margin-top: 25%;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid_datos {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
    }
    .bg-light {
        background-color: whitesmoke;
    }
    
    .col-md-7 {
            width: 100%;
        }
    
    .col-md-6 {
        width: 100%;
    }
    
    .col-md-3 {
        width: 50%;
    }
    .col-md-5 {
        width: 90%;
     }
     .mobile_cart {
         display: none;
     }
     .desktop_cart {
         display: inline-block;
     }
   
    
}
