/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.text-center {

    padding: 0px 20px;
}

.background {
    background: linear-gradient(135deg, #172a74, #21a9af);
    color: white;
}

.content {
    margin: 15px 30px;
}
.d-block {
    margin: 0px;
}

.box{
    margin-bottom: 30px;
}

.grey_box {
    background-color: rgba(207, 207, 207, 0.719);
    padding: 10px;
    font-size: 17px;
}

.tu_compra {
    margin: 0 auto;
    text-align: left;
}

.text-muted {
    font-size: 12px;
}

.form-check-label {
    font-size: 16px;
}

.form-check-input {
    width: 18;
    height: 18;
}

.accordion-body {
    padding: 0.5rem 0.5rem;
}

@media only screen and (min-width: 900px){
    .full_background {
        background: linear-gradient(135deg, #172a74, #21a9af);
    }
    .background {
        background: none;
    }
    .content {
        margin: 15px 20px;
        padding: 10px 20px;
        border-radius: 5px;
    }
    .text-center {
        padding: 0px 10px;
        margin-top: 25%;
    }
    .text-center img {
        padding: 0px 20px;
        margin-top: 25%;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid_datos {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
    }
    
     .col-md-7 {
            width: 100%;
        }
    
    .col-md-6 {
        width: 100%;
    }
    
    .col-md-3 {
        width: 50%;
    }
    .col-md-5 {
        width: 90%;
     }
   
    
}
